Source: sanji-bundle-{{cookiecutter.project_slug}}
Priority: extra
Maintainer: {{cookiecutter.author}} <{{cookiecutter.email}}>
Build-Depends: debhelper (>= 8.0.0)
Build-Depends-Indep: python (>= 2.7)
Standards-Version: 3.9.3
Section: libs
Homepage: http://www.moxa.com
#Vcs-Git:
#Vcs-Browser:
X-Python-Version: >= 2.5

Package: sanji-bundle-{{cookiecutter.project_slug}}
Section: libs
Architecture: all
Depends: ${shlibs:Depends},
	${misc:Depends},
	python-dev,
	python-pip,
	python2.7
Description: Provide {{cookiecutter.project_name}} configuration

